/*---------------------------------------\
    Login Modal Styles and Animations
\---------------------------------------*/

/* Box that holds Modal */
.modal-box {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    font-family: sans-serif;
}

/* Header */
.modal-box h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

/* imnput field styles */
.modal-box input[type="text"],
.modal-box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

/*---------------------------\
    Input Field Animations
\---------------------------*/
.modal-box input[type="text"]:focus,
.modal-box input[type="password"]:focus {
    width: 280px;
    border-color: #FB582F;
}

.modal-box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.modal-box input[type="submit"]:hover {
    background: #3498db;
}

/* Submit btn Styles */
#btn {
    margin: 10px;
    background-color: #3498db;
    color: white;
}