#HubWrapper {
    width: 100%;
    display: flex;
    padding: 10px;
}

#SideTools {
    width: 10%;
    justify-content: left;
}

#HubInfo {
    display: flex;
    flex-direction: column;
}

.btn2 {
    
        position: fixed;
        top: 175px;
        left: 24px;
      
}