.hub-container {
    display: flex;
    margin: auto;
    justify-content: left;
    flex-wrap: wrap;
}

.hub-title {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    margin-left: 40px;
}

.btn2 {
    margin: 5px;
    padding: 5px;
    margin-left: 0%;
    padding-left: 0%;
    position: absolute;
    display: flex;
    justify-content: left;
}

.hub-blurb {
    width: 75%;
    padding-left: 60px;
    margin-left: 60px;
}

.hub-pic {
    display: flex;
    justify-content: right;
    padding-left: 60px;
    margin-left: 60px;
    padding-right: 0;
    margin-right: 0;
    max-width: 400px;
    max-height: 400px;
}