#wrapper {
    width: 100%;
    padding: 10px;
    display: flex;
}
#content {  
    flex-grow: 1;
    margin: 0 auto;
}

#toolbar {
    margin: 0 auto;
    padding: 16px 15px 0px 25px;
}

.submit {
    background: #2f3640;
    color: #4054b2;
    width: 325px;
    height: 35px;
    border: 1px solid #4054b2;
    font-weight: 600;
    font-size: 15px;
}

.deleteButton {
    display: flex;
    margin: 6px -26px 0px 0px;
}

#submit {
    text-align: center;
    margin: 15px;
    
}

#filled-basic {
    border-radius: 0%;
}

.heading, .paragraph, .image {
    display: flex;
}