.toolbarbox {
    width: 150px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.fullbox {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0px;
    right: 0px;
}

.fulldiv {
    position: relative;
}

.textField {
    background: red;
}

.submit {
    background: #2f3640;
    color: #3498db;
    width: 325px;
    height: 35px;
    margin: 0.5% 25%;
    border-radius: 25px;
    border: 1px solid #3498db;
    font-weight: 600;
}