/*---------------------\
  Nav link Btn Styling
\---------------------*/
.btn {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
}

.nav-links {
  /* transform: translate(-30%, -30%); */
  position: relative;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 4px;
  color: #fff;
  text-decoration: none;
}

a svg,
a svg rect {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: transparent;
}

a svg rect {
  stroke: #FB582F;
  stroke-width: 4;
  transition: 2s;
  stroke-dasharray: 60 200;
  stroke-dashoffset: 320;
}

a:hover svg rect {
  stroke: #3498db;
  stroke-dasharray: 200 60;
  stroke-dashoffset: 0;
}

.btn-svg {
  top: 0;
  left: 0;
}

.nav-link-box {
  display: flex;
  flex-direction: row;
}