#menuIcon {
    color: #FB582F;
    display: flex;
    justify-content: left;
    margin-right: 0%;
    padding-right: 0%;
}
Button {
    margin-right: 0%;
    padding-right: 0%;
}

.background {
    margin-right: 0%;
    padding-right: 0%;
}

