.search-box {
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: #FB582F 1px solid;
}

.components {
    display: flex;
    justify-content: space-between;
}

.tools {
    display: flex;
    align-items: center;
    margin-right: 0%;
    padding-right: 0%;
}

.btns {
    display: flex;
}

.search-btn {
    color: #FB582F;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.search-box:hover>.search-txt {
    width: 240px;
    padding: 0 6px;
}

.search-box:hover>.search-btn {
    background: white;
}

.MuiToolbar-gutters {
    padding-top: 6px;
    padding-bottom: 8px;
}