#owned {}

#userPageWrapper {
  width: 100%;
  display: flex;
  padding: 10px;
  justify-content: center;
}

#fab {
  position: fixed;
  top: 90px;
  left: 10px;
}

.card-wrapper {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.message {
  color: white;
  font-size: xx-large;
}

.cardBackground {
  padding: 10px;
  margin-bottom: 30px;
}